@model Profile

@if(Model == null){
    <h2>Looks like you don't have an account with us yet :(</h2>

}
else
{
    //users profile page
    <div>
       @Model.Name's Page
    </div>

    <span>
        <label>Name: </label>
        <h3>@Model.Name</h3>
    </span>
    <span>
        <label>Year: </label>
        <h3>@Model.Age</h3>
    </span>
    <span>
        <label>Platform: </label>
        <h3>@Model.Likes</h3>
    </span>

    <a asp-controller="Profile" asp-action="LeaveMessage" asp-route-id="@Model.ProfileID" class="btn btn-primary mx2">
        Leave Message
    </a>
}